<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg rm-navbar fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" th:href="@{/}">
            <i class="bi bi-bell-fill me-2 text-accent"></i>RemindMe
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMain">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" data-nav-path="/">
                        <i class="bi bi-house me-1"></i>Дашборд
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/events}" data-nav-path="/events">
                        <i class="bi bi-calendar-event me-1"></i>События
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/labels}" data-nav-path="/labels">
                        <i class="bi bi-tags me-1"></i>Метки
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle me-1"></i>
                        <span sec:authentication="name">Пользователь</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/profile}"><i class="bi bi-gear me-2"></i>Настройки</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form th:action="@{/logout}" method="post" class="d-inline">
                                <button type="submit" class="dropdown-item text-danger">
                                    <i class="bi bi-box-arrow-right me-2"></i>Выйти
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
