<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="APP_NAME"     source="spring.application.name" defaultValue="event-reminder"/>
    <springProperty name="LOG_PATH"     source="logging.file.path"        defaultValue="./logs"/>

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
            <customFields>{"application":"${APP_NAME}"}</customFields>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerCause>20</maxDepthPerCause>
                <shortenedClassNameLength>20</shortenedClassNameLength>
            </throwableConverter>
        </encoder>
    </appender>

    <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app.%d{yyyy-MM-dd}.json.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
            <customFields>{"application":"${APP_NAME}"}</customFields>
        </encoder>
    </appender>

    <appender name="STDOUT_PLAIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{HH:mm:ss.SSS}){faint} %clr(%-5level) %clr(%-40.40logger{39}){cyan} [%X{userId}] : %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT_PLAIN"/>
            <appender-ref ref="FILE_JSON"/>
        </root>
        <logger name="ru.bakanov.eventreminder" level="DEBUG"/>
        <logger name="org.springframework.scheduling" level="DEBUG"/>
    </springProfile>

    <springProfile name="!dev">
        <root level="INFO">
            <appender-ref ref="STDOUT_JSON"/>
            <appender-ref ref="FILE_JSON"/>
        </root>
        <logger name="ru.bakanov.eventreminder" level="DEBUG"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate"        level="WARN"/>
        <logger name="com.zaxxer.hikari"    level="WARN"/>
    </springProfile>

</configuration>
